*.Rhistory
*.Rapp.history
*.RData

batters_stats.csv
batters_roster.csv
batters_info.csv
batterlist.csv

pitchers_stats.csv
pitchers_roster.csv
pitchers_info.csv
pitcherlist.csv

draft.csv
draft_signed.csv
